.buttonHeight {
    height: 70px;
}
.buttonWidth {
    width: 49%;
}
.miniImage {
    height: 120px;
    width: 100%;
}
.counterButton {
    height: 50px;
}
.countInput {
    height: 50px;
    width: 50px;
}