.main {
    background-image: url("https://images.fpt.shop/unsafe/fit-in/filters:quality(95):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/1/31/638107835827567565_desk-header-bg.png");
    background-color: rgb(255, 236, 236);
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    padding-top: 0;
    height: 100vh;
}